doctype html
html 
    head
        title Welcome to YHAA
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
        link(href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection")
        link(href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection")
    body
        nav(class="light-blue lighten-1" role="navigation")
            div(class="nav-wrapper container")
                a(id="logo-container" href="#" class="brand-logo") YHAA
                ul(class="right hide-on-med-and-down")
                    li 
                        a(href="#") Sign-out
        
        div(class="section no-pad-bot" id="index-banner")
            div(class="container")
                h3(class="header blue-text") #{FullName}
                    h6(class="header col s11 light") #{Email} 
                    h6(class="header col s11 light") #{Title}
                div(class="row center")
                    div(class="col s12 m15")
                        div(class="card-panel light-grey")
                            h3(class="header blue-text") Volunteer Hours Requests
                            div(class="row center")
                                table
                                    thead 
                                        tr
                                            th Email ID
                                            th Date Requested
                                            th Hours Requested
                                            th Accept/Deny
                                    tbody 
                                        each request in requestPending
                                            tr 
                                                td= request.emailId
                                                td= request.dateRequested 
                                                td= request.hoursRequested
                                                td
                                                    label
                                                        input(type="checkbox" class="filled-in" checked="checked")

        div(class="section no-pad-bot" id="index-banner")    
            div(class="container")
                div(class="row center")
                    div(class="col s12 m15")
                        div(class="card-panel light-grey")
                            h3(class="header blue-text") Request History
                            div(class="row center") 
                            table 
                                thead 
                                    th Email ID
                                    th Date Requested
                                    th Hours Requested
                                    th Accept/Deny 
                                    th Reveiwed By
                                tbody
                                    each request in requestHistory
                                        tr
                                            td= request.emailId 
                                            td= request.dateRequested
                                            td= request.hoursRequested 
                                            td= request.isAccepted
                                            td= request.reveiwedBy

        div(class="section no-pad-bot" id="index-banner")    
            div(class="container")
                div(class="row center")
                    div(class="col s12 m15")
                        div(class="card-panel light-grey")
                            h3(class="header blue-text") Member Info
                            div(class="row center") 
                            table 
                                thead 
                                    th Name
                                    th Email 
                                    th Total Hours 
                                tbody 
                                    each member in members
                                        tr
                                            td= member.name 
                                            td= member.email 
                                            td= member.totalHours

        script(src="https://code.jquery.com/jquery-2.1.1.min.js")
        script(src="js/materialize.js")
        script(src="js/init.js")

