doctype html
html 
    head
        title Welcome to LuckyPen
        link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css')
        script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.1.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js')
        script.
            var reviews = [];
            $(document).ready(function() {    
                $('select').formSelect();

                $(".approve-deny").change(function(event) {
                    event.preventDefault();
                    let tbl_row = $(this).closest('tr');
                    let row_id = tbl_row.attr('row_id');
                    let email_id = tbl_row.attr('email_id');
                    let duration = $(this).find('.duration-select').val();
                    let value = $(this).find('.approve-deny-select').val();
                    reviews.push({'id': row_id, 'emailId': email_id, 'isAccepted': value, 'duration':duration});
                });

                $("#update-hours").submit(function(event){ 
                    event.preventDefault();
                    let payload = {};
                    payload.adminEmail = '#{Email}';
                    payload.reviewedHours = reviews;
                    
                    $.ajax({
                        url : 'http://localhost:3000/api/session', 
                        type: 'PUT', 
                        contentType: 'application/json', 
                        dataType: 'json', 
                        data : JSON.stringify(payload),
                        success: function(response) {
                            window.location = window.location;
                        }
                    });
                });
            });
    body
        nav(class="light-green lighten-1" role="navigation")
            div(class="nav-wrapper container")
                a(id="logo-container" href="#" class="brand-logo") LuckyPen
                ul(class="right hide-on-med-and-down")
                    li 
                        a(href="#")
        div(class="section no-pad-bot" id="index-banner")
            div(class="container")
                h3(class="header green-text") #{FullName}
                    h6(class="header col s11 light") #{Email} 
                    h6(class="header col s11 light") #{Title}
                        div(class="section no-pad-bot" id="index-banner")    
            div(class="container")
                div(class="row center")
                    div(class="col s12 m15")
                        div(class="card-panel light-grey")
                            h3(class="header green-text") Active Sessions
                            div(class="row center") 
                            table 
                                thead 
                                    th Email ID
                                    th Date Requested
                                    th Time Requested
                                    th Duration
                                tbody
                                    each request in unpaidSessions
                                        tr
                                            td= request.emailId 
                                            td= request.dateRequested
                                            td= request.startTime
                                            td= request.duration
                div(class="row center")
                    div(class="col s12 m15")
                        div(class="card-panel light-grey")
                            h3(class="header green-text") Session Approval
                            div(class="row center")
                                form#update-hours
                                    table#centered
                                        thead 
                                            tr
                                                th Email ID
                                                th Date Requested
                                                th Time Requested
                                                th Hours Requested
                                                th Edit Hours
                                                th Accept/Deny
                                        tbody 
                                            each request in unApprovedSessions
                                                tr("row_id"=request.id, "email_id"=request.emailId, "date_requested"=request.dateRequested, "start_timee"=request.startTime, "hours_requested"=request.hoursRequested, "duration"=request.duration)
                                                    td= request.emailId
                                                    td= request.dateRequested 
                                                    td= request.startTime
                                                    td= request.hoursRequested
                                                    td= request.duration
                                                        select(name="hours", id="duration-select")
                                                                option(value, disabled, selected) Choose Hours
                                                                option(value=1) 1
                                                                option(value=2) 2
                                                                option(value=3) 3
                                                                option(value=4) 4
                                                                option(value=5) 5
                                                                option(value=6) 6
                                                                option(value=7) 7
                                                                option(value=8) 8
                                                    td.approve-deny
                                                        select.approve-deny-select
                                                            option(value, disabled, selected) Review
                                                            option(value='A') Accept 
                                                            option(value='D') Deny
                                    .row
                                        .input-field
                                            button.btn-large.waves-effect.waves-light.green(type='submit', name='action') Submit
                div(class="row center")
                    div(class="col s12 m15")
                        div(class="card-panel light-grey")
                            h3(class="header green-text") Payment Approval
                            div(class="row center")
                                form#update-hours
                                    table#centered
                                        thead 
                                            tr
                                                th Email ID
                                                th Date Requested
                                                th Time Requested
                                                th Duration
                                                th Paid?
                                        tbody 
                                            each request in unpaidSessions
                                                tr("row_id"=request.id, "email_id"=request.emailId, "hours_requested"=request.hoursRequested)
                                                    td= request.emailId
                                                    td= request.dateRequested 
                                                    td= request.dateRequested
                                                    td= request.duration
                                                    td.approve-deny
                                                        select.approve-deny-select
                                                            option(value, disabled, selected) Review
                                                            option(value='A') Paid
                                    .row
                                        .input-field
                                            button.btn-large.waves-effect.waves-light.green(type='submit', name='action') Submit

        div(class="section no-pad-bot" id="index-banner")    
            div(class="container")
                div(class="row center")
                    div(class="col s12 m15")
                        div(class="card-panel light-grey")
                            h3(class="header green-text") Student Info
                            div(class="row center") 
                            table 
                                thead 
                                    th Name
                                    th Email 
                                    th Total Hours 
                                tbody 
                                    each student in students
                                        tr
                                            td= student.name 
                                            td= student.email 
                                            td= student.totalHours