doctype html
html 
    head
        title Welcome to LuckyPen
        link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css')
        script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.1.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js')
        script.
            var reviews = [];
            $(document).ready(function() {    
                $('select').formSelect();

                $(".approve-deny").change(function(event) {
                    event.preventDefault();
                    let tbl_row = $(this).closest('tr');
                    let row_id = tbl_row.attr('row_id');
                    let email_id = tbl_row.attr('email_id');
                    let hours_requested = tbl_row.attr('hours_requested');
                    let value = $(this).find('.approve-deny-select').val();
                    reviews.push({'id': row_id, 'emailId': email_id, 'isAccepted': value, 'hoursRequested':hours_requested});
                });

                $("#update-hours").submit(function(event){ 
                    event.preventDefault();
                    let payload = {};
                    payload.adminEmail = '#{Email}';
                    payload.reviewedHours = reviews;
                    
                    $.ajax({
                        url : 'http://localhost:3000/api/request', 
                        type: 'PUT', 
                        contentType: 'application/json', 
                        dataType: 'json', 
                        data : JSON.stringify(payload),
                        success: function(response) {
                            window.location = window.location;
                        }
                    });
                });
            });
    body
        nav(class="light-green lighten-1" role="navigation")
            div(class="nav-wrapper container")
                a(id="logo-container" href="#" class="brand-logo") LuckyPen
                ul(class="right hide-on-med-and-down")
                    li 
                        a(href="#")
        
        div(class="section no-pad-bot" id="index-banner")
            div(class="container")
                h3(class="header green-text") #{FullName}
                    h6(class="header col s11 light") #{Email} 
                    h6(class="header col s11 light") #{Title}
                div(class="row center")
                    div(class="col s12 m15")
                        div(class="card-panel light-grey")
                            h3(class="header green-text") Payment Request Form
                            div(class="row center")
                                h5(class="header col s11 light") Input # of Hours
                                .row.center
                                .row.center
                                    form#update-hours
                                        .row
                                        .input-field.col.s2.offset-s4
                                            input.datepicker(type='text', name="date", id="volunteer-date", placeholder="Select Date")

                                        .input-field.col.s2
                                            select(name="hours", id="volunteer-hours")
                                                option(value, disabled, selected) Choose Hours
                                                option(value=1) 1
                                                option(value=2) 2
                                                option(value=3) 3
                                                option(value=4) 4
                                                option(value=5) 5
                                                option(value=6) 6
                                                option(value=7) 7
                                                option(value=8) 8
                                        .row
                                        .input-field
                                            button.btn-large.waves-effect.waves-light.green(type='submit', name='action') Send Request
                div(class="row center")
                    div(class="col s12 m15")
                        div(class="card-panel light-grey")
                            h3(class="header green-text") Payment Approval
                            div(class="row center")
                                form#update-hours
                                    table#centered
                                        thead 
                                            tr
                                                th Email ID
                                                th Date Requested
                                                th Hours Requested
                                                th Paid/UnPaid
                                        tbody 
                                            each request in requestPending
                                                tr("row_id"=request.id, "email_id"=request.emailId, "hours_requested"=request.hoursRequested)
                                                    td= request.emailId
                                                    td= request.dateRequested 
                                                    td= request.hoursRequested
                                                    td.approve-deny
                                                        select.approve-deny-select
                                                            option(value, disabled, selected) Review
                                                            option(value='A') Accept 
                                                            option(value='D') Deny
                                    .row
                                        .input-field
                                            button.btn-large.waves-effect.waves-light.green(type='submit', name='action') Submit

        div(class="section no-pad-bot" id="index-banner")    
            div(class="container")
                div(class="row center")
                    div(class="col s12 m15")
                        div(class="card-panel light-grey")
                            h3(class="header green-text") Payment History
                            div(class="row center") 
                            table 
                                thead 
                                    th Email ID
                                    th Date Requested
                                    th Hours Requested
                                    th Accept/Deny 
                                    th Reveiwed By
                                tbody
                                    each request in requestHistory
                                        tr
                                            td= request.emailId 
                                            td= request.dateRequested
                                            td= request.hoursRequested 
                                            td= request.isAccepted
                                            td= request.reviewedBy

        div(class="section no-pad-bot" id="index-banner")    
            div(class="container")
                div(class="row center")
                    div(class="col s12 m15")
                        div(class="card-panel light-grey")
                            h3(class="header green-text") Student Info
                            div(class="row center") 
                            table 
                                thead 
                                    th Name
                                    th Email 
                                    th Total Hours 
                                tbody 
                                    each member in members
                                        tr
                                            td= member.name 
                                            td= member.email 
                                            td= member.totalHours