doctype html
html 
    head
        title Welcome to YHAA
        link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css')
        script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.1.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js')
        script.
            $(document).ready(function() {    
                $('select').formSelect();
                $('.datepicker').datepicker({"format": "yyyy-mm-dd", "autoClose": true, "setDefaultDate": true});
        
                $("#update-hours").submit(function(event){ 
                    event.preventDefault(); 
                    var payload = {}; 
                    payload.dateRequested = $('#volunteer-date').val(); 
                    payload.hoursRequested = parseInt($('#volunteer-hours').val());
                    payload.emailId = "#{Email}";
                    payload.memberId = "#{memberId}";
                    $.ajax({
                        url : 'http://localhost:3000/api/request', 
                        type: 'POST', 
                        contentType: 'application/json', 
                        dataType: 'json', 
                        data : JSON.stringify(payload),
                        success: function(response) {
                            window.location = window.location;
                        }
                    });
                });
            });

    body
        nav(class="light-green lighten-1" role="navigation")
            div(class="nav-wrapper container")
                a(id="logo-container" href="#" class="brand-logo") LuckyPen
                ul(class="right hide-on-med-and-down")
                    li 
                        a(href="#")
        
        div(class="section no-pad-bot" id="index-banner")
            div(class="container")
                h3(class="header green-text") #{FullName}
                    h6(class="header col s11 light") #{Email} 
                    h6(class="header col s11 light") #{TotalHours}
        

        div(class="section no-pad-bot" id="index-banner")    
            div(class="container")
                div(class="row center")
                    div(class="col s12 m15")
                        div(class="card-panel light-grey")
                            h3(class="header green-text") Payment History
                            div(class="row center")
                            table 
                                tr
                                    th Date Sent
                                    th Status  
                                    th # of Hours
                                tbody
                                    each request in requestHistory 
                                        tr
                                            td= request.dateRequested 
                                            td= request.isAccepted
                                            td= request.hoursRequested
